.bodyrr {
  height: 100vh;
  overflow: hidden;
}

.Main_div {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  /* background-color: aqua; */
}

.header {
  background-color: brown;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* margin: 2px; */
  /* position: ; */

}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

.bottomsticky{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blueviolet;
  height: 10vh;
}

.icon {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title {}

.body {
  /* background-color:rgb(42, 89, 165); */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 30px;
  /* margin-top: 20px; */
}


.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;

}

/* .img{
  height: 200px;
  width: 200px;
} */

.card {
  height: 250px;
  width: 250px;
  border: 1px solid;
  padding: 2px;
  margin-inline: 10px;
  margin-block: 5px;
}

img {
  /* z-index: -1; */
  height: 150px;
  width: 200px;
}

.card_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Trending {
  /* background-color: rgb(243, 237, 237); */
  height: 100%;
  width: 100%;
  overflow:scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;


  /* overflow: hidden; */

}

.Trending_heading {
  height: 10%;
  width: 100%;
  color: black;
}

.Trending_body {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* .div{
  /* display: flex; */
/* align-items: center;
  flex-direction: col; */
/* justify-content: center; */

/* .app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.holepg{
  background-color: blue;
  height: 100vh;
}



/* 


 */
 .pagination {
/* bottom: 0; */
  display: inline-block;
}

/* .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
} */

.pagination__disable{
  opacity: 0;
}